# Database files (keep the folder itself tracked via database/.gitkeep)
database/*.duckdb*

# Log output
logs/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

# virtual environment
venv/

# vscode settins
.vscode/